.ex-1-square {
    transition: background-color 5s;
}

.ex-1-square:hover {
    background-color: red;
}




/*
.ex-2-square:active {
    animation-name: allungamento;
    animation-duration: 5s;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
}

@keyframes allungamento {
    0% {
        width: 50px;
    }

    25% {
        width: calc(25% - 5px);
    }

    50% {
        width: calc(50% - 5px);
    }

    75% {
        width: calc(75% - 5px);
    }

    100% {
        width: calc(100% - 5px);
    }
}
*/

.ex-2-square {
    transition:width 5s;
}

.ex-2-square:active {
    width: 100%;
}






.ex-3-square {
    transition:border-radius 5s;
}

.ex-3-square:hover {
    border-radius: 50%;
}




.ex-4-square {
    transition: background-color 5s;
}

.ex-4-square:hover {
    background-color: #f5f5f5;
}



/*
.ex-5-square {
    transition: width height 5s;
}

.ex-5-square:hover {
    width: 150%;
    height: 150%;
}

.ex-5-square:active {
    width: 50%;
    height: 50%;
}
*/

