.ex-1-square {
    transition: background-color 5s;
}

.ex-1-square:hover {
    background-color: red;
}




/*
.ex-2-square:active {
    animation-name: allungamento;
    animation-duration: 5s;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
}

@keyframes allungamento {
    0% {
        width: 50px;
    }

    25% {
        width: calc(25% - 5px);
    }

    50% {
        width: calc(50% - 5px);
    }

    75% {
        width: calc(75% - 5px);
    }

    100% {
        width: calc(100% - 5px);
    }
}
*/

.ex-2-square {
    transition:width 5s;
}

.ex-2-square:active {
    width: 100%;
}






.ex-3-square {
    transition:border-radius 5s;
}

.ex-3-square:hover {
    border-radius: 50%;
}




.ex-4-square {
    transition: background-color 5s;
}

.ex-4-square:hover {
    background-color: #f5f5f5;
}




.ex-5-square {
    transition: width 5s, height 5s;
    
}

.ex-5-square:hover {
    width: 150px;
    height: 150px;
}

.ex-5-square:active {
    width: 50px;
    height: 50px;
}





.ex-6-img:hover {
    filter: grayscale(100%);
}





.ex-7-img {
    transition: filter 5s;
}

.ex-7-img:hover {
    filter: grayscale(100%) blur(2.4px);
}






.ex-8-img {
    transition: filter border-radius;
    transition-duration: 5s;
}

.ex-8-img:hover {
    filter: grayscale(75%) saturate(2.5);
    border-radius: 20%;
}






.ex-9-img {
    transition-duration: 5s;
    transition: width height border-radius filter;
}

.ex-9-img:hover {
    filter: sepia(1) opacity(0.5);
    border-radius: 20%;
    width: 50%;
    height: auto;
    
}





.ex-10-icon {
    animation-name: ruotante;
    animation-iteration-count: infinite;
    animation-duration: 1s;
}

@keyframes ruotante {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

.ex-11-icon {
    transition: transform 3s;
}

.ex-11-icon:hover {
    transform: rotate(270deg);
}





.ex-12-top-white {
    animation-name: spostaDestra;
    animation-iteration-count: infinite;
    animation-duration: 1s;
}

@keyframes spostaDestra {
    from {
        transform: translate(0, 0);
    }

    to {
        transform: translate(100px, 0px);
    }
}

.ex-12-bottom-white {
    animation-name: spostaSinistra;
    animation-iteration-count: infinite;
    animation-duration: 1s;
}

@keyframes spostaSinistra {
    from {
        transform: translate(0, 0);
    }

    to {
        transform: translate(-80px, 0px);
    }
}




.ex-13-top-white {
    animation-name: spostaSopra;
    animation-iteration-count: infinite;
    animation-duration: 2s;
}

@keyframes spostaSopra {

    0% {
        transform: translate(0, 0);
    }

    25% {
        transform: translate(150px, 0);
    }

    50% {
        transform: translate(150px, 70px);
    }

    75% {
        transform: translate(-40px, 70px);
    }

    100% {
        transform: translate(-30px, 0px);
    }
}

.ex-13-bottom-white {
    animation-name: spostaSotto;
    animation-iteration-count: infinite;
    animation-duration: 2s;
}

@keyframes spostaSotto {

    0% {
        transform: translate(0, 0);
    }

    25% {
        transform: translate(-110px, 0);
    }

    50% {
        transform: translate(-110px, -70px);
    }

    75% {
        transform: translate(90px, -70px);
    }

    100% {
        transform: translate(90px, 0px);
    }
}







  



  